# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
backend/.env
venv/
env/

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Fotos generadas por pruebas
backend/fotos/

# Backups o comprimidos
*.zip
*.rar
*.7z